.side-bar {
  border-right: 1px solid #ebebeb;
  background-color: #f9f9f9;

  a {
    &:hover, &:active {
      border-radius: 5px;
      background-color: #ebebeb;
    }
  }

  &__logo {
    img {
      cursor: pointer;
    }
  }

  &__menu {

  }

  &__user {
    bottom: 0;
    cursor: pointer;
    &-action {
      top: -105px;
      background-color: #fff;
      border-radius: 5px;
      z-index: -1;
      opacity: 0;
      transition: opacity .35s ease-in;
      &--active {
        z-index: 99;
        opacity: 1;
      }
    }
  }
}