.side-bar {
  border-right: 1px solid #ebebeb;
  background-color: #f9f9f9;

  a {
    &:hover, &:active {
      border-radius: 10px;
      background-color: #ebebeb;
    }
  }

  &__logo {
    img {
      cursor: pointer;
    }
  }

  &__menu {

  }

  &__user {
    bottom: 0;
  }
}