.mini-cart {
  width: 350px;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  color: #777;
  font-size: 14px;
  &__close {
    top: 0;
    right: 3px;
    font-size: 24px;
    &:hover {
      cursor: pointer;
      color: #39f;
    }
  }

  &__wrapper {
    &-item {
      margin-top: 32px;
      max-height: 350px;
      overflow: auto;
    }
    &-summary {
      border-top: 1px solid #e1e1e1;
      &-price {
        font-size: 16px;
        color: rgba(#000, 0.8);
      }
    }

    &-action {
      a {
        font-size: 13px;
        height: 36.5px;
        transition: all 0.3s;
      }
    }
  }
}
