.summary {
  border: 1px dashed #d7d7d7;
  background-color: #f9f9f9;
  border-radius: 3px;
  &__title {
    border-bottom: 1px solid #cccccc;
  }

  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      color: #39f;
    }
  }
}

@media screen and (min-width: 992px) {
  .summary {
    margin-top: 0;
  }
}