.product-cart {
  &__img {
    &-small {
      img {
        width: 64px;
        height: 64px;
      }
    }
    &-large {
      img {
        width: 172px;
        height: 172px;
      }
    }
  }
  &__info {
    &-title {
      a {
        text-decoration: none;
        color: inherit;
      }
    }
    &-option {
      opacity: 0.46;
    }

    &-action {
      a {
        color: #000;
        opacity: 0.46;
      }
    }
  }
}