.product-page {
  &__info {
    padding-top: 30px;
    &-price {
      color: #39f;
      .new-price {
        color: #ef837b;
      }
      .old-price {
        color: #000;
      }
    }
    &-color {
      .widget-color {
        span {
          border: 1px solid #ced4da;
          padding: 10px;
        }
      }
    }
  }
}