$main-backgound-color: #f5f6f9 !default;

// Color system
$white: #fff !default;
$black: #000 !default;
$gray-20: #f7f7f7 !default;
$gray-50: #f4f4f4 !default;
$gray-100: #e6e6e6 !default;
$gray-200: #bfbfbf !default;
$gray-250: #b5b5b5 !default;
$gray-300: #b2b2b2 !default;
$gray-400: #999999 !default;
$gray-450: #787878 !default;
$gray-500: #7f7f7f !default;
$gray-600: #666666 !default;
$gray-800: #4d4d4d !default;
$gray-900: #4c4c4c !default;
$gray-1000: #333333 !default;
$gray-1200: #1a1a1a !default;

$color-facebook: #3b5998 !default;
$color-twitter: #1da1f2 !default;
$color-pinterest: #bd081c !default;
$primary-color: #3c87dd;
$error-color: #d11b27;
$color_heading: var(--color-heading);
$color_yellow_600: #eea920;
$icon_color_white: #fafaf0;
$color_data_source: #663ace;

// Color notifications
$color_success: #16a34a;